# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.backup
.env.local
.env copy

# Laravel Sail (Docker)
docker-compose.override.yml
sail
.sail

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
/storage/logs/*
/bootstrap/cache/*.php
